*{ 
    font-family:'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color:#607D3B;
    padding: 10px;
    font-size:large;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;}
  
.menu li{
    display: inline-block;
    margin-right: 15px;
}

.menu li a {
    color: #f1f9f8;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.menu li a:hover{
    background-color: #99d4b2;
    color: #ffffff;
}
.menu li a.active{
    background-color:#257536;
    color: #ffffff;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #55a175;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}

.dropdown-content a{
    color: #99BBD4;
    padding: 8px 12px;
    display: block;
    text-decoration: none;
}

.dropdown:hover .dropdown-content{
    display: block;
}

body
{
    background-color: #728c69;
}

h1{
    text-align: center;
    color: #fff;
}

.container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card
{
    background: white;
    width: 340px;
    height: 500px;
    margin: 10px;
    border-radius: 15px;
}

.card-image
{
    background-color: aqua;
    height: 170px;
    margin-bottom: 15px;
    background-size: auto;
    border-radius: 15px 15px 0 0;
}

.car-1
{
    background-image: url(picture/picture18.png);
    background-size: contain;
}

.car-2
{
    background-image: url(picture/picture19.png);
    background-size: contain;
}

.car-3{
    background-image: url(picture/picture20.png);
    background-size: contain;
}

.card h2
{
    padding: 5px;
    text-align: center;
}

.card p
{
    padding: 10px;
    text-align: justify;
}

.card a
{
    background-color: black;
    color: white;
    padding: 10px 15px;
    display: block;
    text-align: center;
    margin: 10px 50px;
    text-decoration: none;
}

.card:hover
{
    background-color: #354a21;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.footerBottom{
    background-color: #597d35;
    padding: 20px;
    text-align: center;
}
  
  .footerBottom p{
    color: white;
}
  
  .designer{
    color: #ffffff;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}